@charset "utf-8";
/* CSS Document */
	.clearFix:after {
		content: "";
		display: block;
		clear: both;
	}
	body,
	p,
	h2,
	h3 {
		margin: 0;
	}
	ul,
	li,
	dl,
	dd {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	a {
		text-decoration: none;
	}
	img {
		vertical-align: top;
		border: none;
	}	
	.epiList {
		padding: 0 10px 0 15px;
		border: 1px solid #dddddd;
	}
	.sectionLeft {
		float: left;
		width: 199px;
		margin-right: 15px;
	}
	.sectionLeft h2 {
		font: 900 20px/43px "宋体";
		color: #343434;
	}	
	.sectionLeft .pic {
		width: 199px;
		font-size: 13px;
		line-height: 37px;
	}
	.sectionLeft a img {
		padding: 1px;
		border: 1px solid #dcdddf;
	}
	.sectionLeft .pic .textMain {
		padding-left: 37px;
	}
	.sectionLeft .pMain {
		float:left;
		color: #3d3d3d;
	}
	.sectionLeft .spanMain {
		float:left;
		color: #7c7c7c;
	}
	.sectionLeft .inf {
		font-size: 0;
		padding-top: 1px;
	}
	.sectionLeft .inf span {
		font-size: 12px;
	}
	.sectionLeft .inf a {
		font-size: 12px;
	}
	.inf .dir,
	.inf .actor,
	.inf .other,
	.inf .detail {
		float:  left;
		font: 12px/22px "宋体";
		color: #969696;
	}
	.inf a {
		font: 12px.22px "宋体";
		color: #444444;
	}
	.sectionLeft .h3Now {
		font: 600 13px/43px "宋体";
	}
	.sectionLeft .ulNow {
		margin-top: 4px;
		font-size: 0;
	}
	.sectionLeft .ulNow li {
		/*height: 24px;*/

	}
	.ulNow li a {
		display: inline-block;
		margin: 0 -1px -1px 0;
		font: 12px/24px "宋体";
		border: 1px solid #dcdcdc;
		color: #424242;	
	}
	.ulNow li .chl {
		width: 61px;
		height: 24px;
		text-align: center;			
	}
	.ulNow li .cont {
		width: 127px;
		height: 24px;
		padding-left: 8p;
	}
	.ulNow a span {
		color: #989898;
	}
	.h3Future {
		font: 600 13px/29px "宋体";
		margin-top: 24px;
	}
	.sectionLeft .future a {
		font: 12px/22px "宋体";
		color: #3c3c3c;
	}
	.sectionCenter {
		float: left;
		width: 467px;
	}
	.sectionRight {
		float: left;
	}
	.header {
		position: relative;
		margin-left: 14px;
		border-bottom: 1px solid #e4e4e4;
		z-index: 1;

	}
	.header .nav {
		float: left;
	}
	.header p {
		float: right;
		font-size: 12px;
		margin-top: 20px;
	}
	.header .nav a {
		float: left;
		position: relative;
		display: block;
		font: 13px/27px "宋体";
		padding: 0 8px 1px 7px;
		margin-top: 12px;
		margin-right: 2px;
		margin-bottom: -1px;
		border: 1px solid #e4e4e4;
		color: #434343;
	}
	.header .nav a:hover {
		font-weight: 600;
		background: #fff;
		padding-bottom: 2px;
		margin-bottom: -1px;
		border-bottom: none;
		z-index: 2;
	}
	.deputy {
		margin-top: 8px;
	}
	.aDeputy {
		float: left;
		position: relative;
		display: block;
		padding-bottom: 27px;
		margin-left: 12px;
		width: 104px;
	}
	.deputy img {
		padding: 1px;
		border: 1px solid #dcdcdc;
	}
	.deputy .opacity {
		position: absolute;
		left: 2px;
		top: 122px;
		width: 100px;
		height: 20px;
		background-color: #000;
		opacity: .4;
	}
	.aDeputy .preView {
		position: absolute;
		top: 126px;
		right: 8px;
		font-size: 12px;
		color: #fff;
	}
	.aDeputy .textPic {
		position: absolute;
		top: 155px;
		right: 0px;
	}
	.aDeputy .title {
		margin-top: 9px;
		font-size: 13px;
		color: #3a3a3a;
	}
	.aDeputy span {
		font-size: 12px;
		color: #b5b5b5;
		margin-top: 6px;
	}
	.sectionRight {
		width: 230px;
		margin-left: 18px;
	}
	.sectionRight h3 {
		font: 800 13px/39px "宋体";
		margin-top: 5px;

	}
	.sectionRight dt {
		float: left;
		font: 600 12px/23px "宋体";
		margin-right: 13px;
	}
	.sectionRight dd {
		float: left;
		font: 12px/23px "宋体";
		margin-right: 14px;
	}
	.sectionRight ul {
		font-size: 12px;
	}
	.sectionRight .listEnd {
		float: left;
		margin: 16px 20px 0 0;
	}
	.listEnd li {
		float: left;
		margin-right: 20px;
	}
	.list h3 {
		float: left;
		margin-top: 16px;
		font-size: 12px;
		line-height: 49px;
	}
	.list .playList {
		float:right;
		margin: 32px 0 10px 0;
	}
	.list .playList li {
		position: relative;
		float: right;
		font: 12px/18px "宋体";
		padding: 0 6px 0 5px;
		margin-right: -1px;
		border: 1px solid #dadada;
		z-index: 1;
	}
	.list .playList li:hover {
		background-color: #00a4de;
		padding-bottom: 1px;
		margin-bottom: -1px;
		border-bottom: none;
	}
	.listCon {
		margin-top: 16px;
	}
	.listCon li {
		overflow: hidden;
		width: 232px;
		font: 12px/26px "宋体";
	}
	.listCon .num {
		display: block;
		width: 16px;
		height: 16px;
		padding-left: 4px;
		margin-right: 8px;
		line-height: 16px;
		float: left;
	}
	.top .num {
		background: url(bgdblue.png);
		color: #fff;
	}
	.others .num {
		color: #b497a9;
	}
	.listCon p {
		float: left;
		margin-right: 7px;		
	}
	.listCon .epi {
		float: left;
		color: #acacac;		
	}
	.listCon .score {
		float: right;
		margin-top: 7px;
		width: 30px;
		line-height: 12px;
		color: #ff320e;
		background: url(text.png) no-repeat right 1px;
	}
	.adpic {
		width: 228px;
		height: 68px;
		line-height: 2000px;
		overflow: hidden;
		background: url(baobao3.png);
	}