@charset "utf-8"; /* css文件的编码声明 */
/* CSS Document */

#wrap {
	width: 300px;
	border-top: 2px solid #028ffc;
}
#box1 {
	height: 29px;
	border: 1px solid #767676;
	border-top: none;
}
#box2 {
	height: 56px;
	border: 1px solid #767676;
	border-top: none;
	border-bottom-color:#c6c6c6;
}
#box3 {
	height: 125px;
	border: 1px solid #767676;
	border-top: none;
	border-bottom-color:#c6c6c6;
}
#box4 {
	height: 75px;
	border: 1px solid #767676;
	border-top: none;
	border-bottom-color:#c6c6c6;
}
#box5 {
	height: 127px;
	border: 1px solid #767676;
	border-top: none;
}
