@charset "UTF-8";
/*bilibili*/

.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
body,
h1,
h2,
p {
	margin: 0;
}
body {
	width: 100%;
}
a {
	text-decoration: none;
}

img {
	vertical-align: top;
	border: none;
}

header {
	/*width: 100%;*/
	height: 2rem;
	border-bottom: .05rem solid #e7e7e7;
	box-sizing: border-box;
}
header .logo {
	width: 3.15rem;
	height: 1.4rem;
	margin: .25rem 0 0 .9rem;
	background: url(img/logo.jpg);
	background-size: 3.15rem 1.4rem;
	line-height: 5rem;
	overflow: hidden;
}
header h1 {
	float: left;
}
header a {
	float: right;
}
header .offline {
	width: 1.1rem;
	height: 1.1rem;
	margin: 0.4rem 1.2rem 0 0;
	background: url(img/icon.png) 0 -1.117rem;
	background-size: 1.1rem 11.667rem;
}
header .search {
	width: 1.1rem;
	height: 1.1rem;
	margin: 0.4rem 1.35rem 0 0;
	background: url(img/icon.png);
	background-size: 1.1rem 11.667rem;
}
nav {
	position: relative;
	height: 2rem;
	border-bottom: .05rem solid #e7e7e7;
	box-sizing: border-box;
}
nav a {
	float: left;
	width: 20%;
	padding-left: 0.183rem;
	box-sizing: border-box;
	display: block;
	font: 0.717rem/1.95rem "黑体";
	text-align: center;
	color: #444444;
}
nav .pink {
	position: absolute;
	left: 0.4rem;
	bottom: -.05rem;
	width: 3rem;
	height: 0.2rem;
	background: url(img/bgpink.png);
	background-size: 3rem 0.2rem;
}
.scroll {
	position: absolute;
	top: 4rem;
	left: 0;
	bottom: 0;
	width: 18rem;
	overflow: auto;
}
#banner {
	height: 9.35rem;
	padding-top: 0.5rem;
	background-color: #f4f4f4;
}
#banner .banner_content {
	position: relative;
	height: 8.75rem;
	overflow: hidden;
	/*background: url(img/banner.jpg);
	background-size: 18rem 8.75rem;*/
}
.banner_content img {
	float: left;
	height: 8.75rem;
}
.banner_content .wrap {
	position: absolute;
	top: 0;
	left: -100%;
	width: 300%;
	height: 8.75rem;
}
.h2Left {
	float: left;
	height: 2.1rem;
	font: 0.65rem/2.1rem "黑体";
	
}
.hot .h2Left .iconCrown {
	float: left;
	width: 1rem;
	height: 0.8rem;
	margin: .6rem .283rem 0 .7rem;
	background: url(img/icon.png) 0 -2.233rem no-repeat;
	background-size: 1.1rem 11.667rem;
}
.h2Right {
	float: right;
}
.hot .h2Right .iconBill {
	float: right;
	width: 1rem;
	height: .8rem;
	margin: .7rem .283rem 0 0;
	background: url(img/icon.png) 0 -4rem;
	background-size: 1.1rem 11.667rem; 
}
.hot .h2Right span {
	float: right;
	margin-right: .633rem;
	font: .7rem/2rem "黑体";
	color: #ffb414;
}
.hotBox,
.liveBox,
.movieBox {
	float: left;
	width: 100%;
	margin-top: -1.2rem;
	padding-bottom: 1.233rem;
}
.hotBlock,
.movieBlock
 {
	float: left;
	position: relative;
	margin-top: 1.2rem;
	width: 8.7rem;
	height: 8.167rem;
}
.hotBlock .hotPic,
.movieBlock .moviePic {
	position: absolute;
	top: 0.1rem;
	left: 0.6rem;
	float: left;
	width: 8.1rem;
	height: 5.1rem;
	border-radius: 0.2rem;
	background: url(img/picture.jpg);
	background-size: 8.1rem 5.1rem;
}
.movieBlock .moviePic {
	background: url(img/moviePic.jpg);
}
.hotBlock .title,
.movieBlock .title {
	position: absolute;
	top: 5.35rem;
	left: 0.6rem;
	width: 8.1rem;
	font: 0.583rem/0.917rem "宋体";
	color: #444444;
}
.hotBlock .play,
.movieBlock .play {
	position: absolute;
	bottom: 0;
	left: .6rem;	
}
.hotBlock .num,
.movieBlock .num {
	position: absolute;
	bottom: 0;
	left: 4.667rem;
}
.hotBlock .play .playPic,
.movieBlock .play .playPic {
	float: left;
	margin: .2333rem .217rem 0 0;
	width: .733rem;
	height: .55rem;
	background: url(img/icon.png) 0 -4.83rem;
	background-size: 1.1rem 11.667rem; 	
}
.hotBlock .num .numPic,
.movieBlock .num .numPic {
	float: left;
	margin: .2333rem .217rem 0 0;
	width: .733rem;
	height: .55rem;
	background: url(img/icon.png) 0 -5.417rem;
	background-size: 1.1rem 11.667rem; 

}
.hotBlock .play span,
.movieBlock .play span {
	float: left;
	font: 0.5rem/1rem Arial;
	color: #999999;	
}
.hotBlock .num span,
.movieBlock .num span {
	float: left;
	font: 0.5rem/1rem Arial;
	color: #999999;	
}
.grey {
	width: 100%;
	height: .6rem;
	background-color: #f4f4f4;
}
.live .h2Left .cam {
	float: left;
	width: .767rem;
	height: .767rem;
	margin: .717rem .717rem 0 0;
	background: url(img/icon.png) 0 -6rem;
	background-size: 1.1rem 11.667rem; 
}
.h2Right a {
	font: .633rem/2.1rem "黑体";
	color: #999999;
}
.h2Right .more {
	float: right;
	width: .9rem;
	height: .9rem;
	margin: .667rem .667rem 0 .333rem;
	background: url(img/icon.png) 0 -3.067rem;
	background-size: 1.1rem 11.667rem; 
}
.h2Left span {
	float: left;
}
.h2Right span {
	float: right;
}
.liveBlock {
	float: left;
	position: relative;
	width: 8.7rem;
	height: 7.367rem;
	margin-top: 1.2rem;
}
.liveBox .liveBlock .livePic {
	position: absolute;
	top: 0.1rem;
	left: 0;
	width: 8.1rem;
	height: 5.1rem;
	background: url(img/fenliezhibo.jpg);
	background-size: 8.1rem 5.1rem;
	border-radius: .183rem;
}
.liveBlock .portrait {
	position: absolute;
	top: 4.25rem;
	left: .47rem;
	width: 1.9rem;
	height: 1.9rem;
	border-radius: .7rem;
	background: url(img/por.jpg);
	background-size: 1.9rem 1.9rem;
}
.liveBlock .num {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2.4rem;
	height: 1.033rem;
	border-radius: .233rem;
	text-align: center;
	font: .467rem/1.033rem Arial;
	color: #fff;
	background-color: #ccc;
}
.liveBlock .name {
	position: absolute;
	top:5.35rem;
	left: 2.833rem;
	max-width: 5.867rem;
	height: 1rem;
	font: .6rem/1rem "宋体";
	color: #444444;
}
.liveBlock .exp {
	position: absolute;
	top: 6.367rem;
	left: 2.833rem;
	max-width: 5.867rem;
	height: 1rem;
	font: .6rem/1.1rem "宋体";
	color: #999999;
}
.episode .epi {
	float: left;
	width: 1rem;
	height: 1rem;
	margin: .6rem .283rem 0 .6rem;
	background: url(img/icon.png) 0 -6.8rem;
	background-size: 1.1rem 11.667rem; 
}
.episodeBox {
	float: left;

}
.episodeBlock {
	float: left;
	position: relative;
	width: 5.2rem;
	height: 9.067rem;
	margin: 0 0 1.4rem .6rem;
}
.epiPic {
	position: absolute;
	top: 0;
	left: 0;
	width: 5.2rem;
	height: 7.15rem;
	background: url(img/episode.jpg);
	background-size: 5.2rem 7.15rem;
}
.episodeBlock .name {
	position: absolute;
	bottom: .6rem;
	left: 0;
	width: 5.2rem;
	font: 0.6rem/1.333rem "宋体";
	text-align: center;
	color: #444;
}
.episodeBlock .refresh {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 5.2rem;
	font: 0.55rem/0.6rem "宋体";
	text-align: center;
	color: #de698c;
}
.movie .h2Left .film {
	float: left;
	width: 1rem;
	height: 1rem;
	margin: .6rem .317rem 0 .6rem;
	background: url(img/icon.png) 0 -7.833rem;
	background-size: 1.1rem 11.667rem;  
}
#footer {
	position: relative;
	width: 100%;
	height: 5.5rem;
	background-color: #f4f4f4;
}
#footer .btns {
	width: 15rem;
	margin: 0 auto;
}
#footer .btns a {
	float: left;
	font: .6rem/2.117rem "黑体";
	color: #666;
	display: block;
}
#footer .PC {
	width: 4.616rem;
	background: url(img/stick.png) right .65rem no-repeat;
	background-size: .05rem 1rem;

}
#footer .APP {
	width: 5.6rem;
	background: url(img/stick.png) right .65rem no-repeat;
	background-size: .05rem 1rem;
}
#footer .backToTop {
	width: 4.78rem;
}
.btns span {
	float: left;
}
.picPC {
	float: left;
	width: .8rem;
	height: .717rem;
	margin: .767rem .383rem 0 0;
	background: url(img/icon.png) 0 -8.867rem;
	background-size: 1.1rem 11.667rem;
}
.picAPP {
	float: left;
	width: .517rem;
	height: .85rem;
	margin: .767rem .5rem 0 1.433rem;
	background: url(img/icon.png) 0 -9.617rem;
	background-size: 1.1rem 11.667rem;	
}
.picBackToTop {
	float: left;
	width: .717rem;
	height: .717rem;
	margin: .833rem .383rem 0 1.05rem;
	background: url(img/icon.png) 0 -10.5rem;
	background-size: 1.1rem 11.667rem;	
	}
#footer .lience {
	position: absolute;
	bottom: .383rem;
	left: 0;
	width: 100%;
}
#footer p {
	font: .6rem/1.6rem "宋体";
	text-align: center;	
}
