@charset "utf-8";
/* CSS Document */
#box {
	width: 300px;
	border-top: 2px solid #206f96;
}
#header {
	height: 29px;
	border: 1px solid #cfcfcf;
	border-top: none;
	background: url(../img/header.png) repeat-x;
}
#content {
	border: 1px solid #cfcfcf;
	border-top: none;
}
#con1 {
	height: 57px;
	background: url(../img/icon.png) no-repeat 16px 25px;
}
#con2 {
	height: 126px;
	background: #f7f7f7 url(../img/icon2.png) no-repeat 9px 51px;
}
